!.gitignore
!/build.daemon.properties
!/lib/ant-contrib.jar
!/lib/antelopetasks.jar
!/lib/bcpg-jdk16.jar
!/lib/bcprov-jdk16.jar
!portlets/*-portlet/docroot/WEB-INF/lib/*-portlet-service.jar
!portlets/*-portlet/docroot/WEB-INF/tld/liferay-portlet-ext.tld
!portlets/*-portlet/docroot/WEB-INF/tld/liferay-portlet.tld
!portlets/*-portlet/docroot/WEB-INF/tld/liferay-security.tld
!portlets/*-portlet/docroot/WEB-INF/tld/liferay-theme.tld
!portlets/*-portlet/docroot/WEB-INF/tld/liferay-ui.tld
!portlets/*-portlet/docroot/WEB-INF/tld/liferay-util.tld
*.iml
*classes/
*~
.*
.classpath
/*/*/*/*/.project
/*/*/*/.DS_Store
/*/*/*/.classpath
/*/*/*/.project
/*/*/*/.sass-cache/
/*/*/*/.settings/
/*/*/*/bin/
/*/*/*/build
/*/*/.DS_Store
/*/*/.project
/*/*/.settings/
/*/.DS_Store
/*/.ivy/
/*/.project
/*/.settings/
/.DS_Store
/.gradle/
/.idea/
/.project
/.settings
/bin/
/build.*.properties
/dist/
/ext/*-ext/docroot/WEB-INF/ext-impl/*.jar
/gradle/
/lib/
/libs/
/liferay-portal
/modules/**/.gitignore
/modules/**/.sass-cache/
/modules/**/bin/
/plugins-sdk/build.*.properties
/plugins-sdk/dist
build/
ext/*-ext/docroot/WEB-INF/ext-service/*.jar
ext/*-ext/docroot/WEB-INF/ext-util-bridges/*.jar
ext/*-ext/docroot/WEB-INF/ext-util-java/*.jar
ext/*-ext/docroot/WEB-INF/ext-util-taglib/*.jar
gradle.properties
ivy.xml.MD5
plugins-sdk/.classpath
portlets/*-portlet/docroot/WEB-INF/tld/*.tld
themes/*-theme/docroot/css
themes/*-theme/docroot/images
themes/*-theme/docroot/js
themes/*-theme/docroot/templates
